<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navigate-links">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <p>
        <a href="rest">Rest test</a>
    </p>
    <p>
        <a href="websocket">WebSocket test</a>
    </p>
    <p>
        <a href="react">React test</a>
    </p>

    <form class="form-inline" action="/logout" method="post">
        <input id="logout" type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>