<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Hello World!</title>
</head>

<body>

<a href="hello.html">hello</a>

<div id="react_container"></div>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
<script src="scripts/react.development.js" crossorigin></script>
<script src="scripts/react-dom.development.js" crossorigin></script>

<!-- Load our React component. -->
<script src="scripts/reactGrpc.js"></script>

</body>

</html>